{% extends 'index.html' %}

{% block title %}
    {{ accion }} Autores
{% endblock title %}

{% block body %}
    <h1>{{ accion }} Autores</h1>
    <hr>

    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Autor</strong>
                <small> - {{ accion }} </small>
            </div>
            <div class="card-body card-block">
                <form action="#" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% if error %}
                        <h2>{{ error }}</h2>
                    {% else %}
                        <div class="row form-group">
                            <div class="col col-md-3 col-lg-5">
                                {#                            <label for="hf-email" class=" form-control-label">Nombre</label>#}
                                {{ form.nombre.label }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                {#                            <input#}
                                {#                                    type="email"#}
                                {#                                    id="hf-email"#}
                                {#                                    name="hf-email"#}
                                {#                                    placeholder="Enter Email..."#}
                                {#                                    class="form-control">#}
                                {{ form.nombre }}
                                {#                            <span class="help-block">Please enter your email</span>#}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3 col-lg-5">
                                {{ form.apellidos.label }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                {{ form.apellidos }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3 col-lg-5">
                                {{ form.nacionalidad.label }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                {{ form.nacionalidad }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3 col-lg-5">
                                {{ form.descripcion.label }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                {{ form.descripcion }}
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <button type="submit" class="btn btn-success btn-sm">
                                {{ accion }}
                            </button>
                        </div>
                        <div>
                            <a href="{% url 'libro:listar_autor' %}">Regresar al catálogo de autores</a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {% if error %}#}
{#            <h2>{{ error }}</h2>#}
{#        {% else %}#}
            {#            {{ autor_form.as_p }}#}
{#            <label>Nombre:</label>#}
{#            <input type="text" name="nombre">#}
{#            <label>Apellidos:</label>#}
{#            <input type="text" name="apellidos">#}
{#            <label>Nacionalidad:</label>#}
{#            <input type="text" name="nacionalidad">#}
{#            <label>Descripción:</label>#}
{#            <input type="text" name="descripcion">#}
{#            <button type="submit">{{ accion }}</button>#}
{#            <br>#}
{#            <div>#}
{#                <a href="{% url 'libro:listar_autor' %}">Regresar al Inicio</a>#}
{#            </div>#}
{#        {% endif %}#}
{#    </form>#}
{% endblock body %}


{#<div class="form-group">#}
{#                    <label for="nombre" class=" form-control-label">Nombre</label>#}
{#    {{ autor_form.nombre.label }}#}
{#    <input#}
{#            type="text"#}
{#            id="nombre"#}
{#            placeholder="Escibe tu nombre"#}
{#            class="form-control"#}
{#    >#}
{#</div>#}
{#<div class="form-group">#}
{#    <label for="apellidos" class=" form-control-label">Apellidos</label>#}
{#    <input type="text"#}
{#           id="apellidos"#}
{#           placeholder="Escribe tus apellidos"#}
{#           class="form-control"#}
{#    >#}
{#</div>#}
{#<div class="form-group">#}
{#    <label for="nacionalidad" class=" form-control-label">Nacionalidad</label>#}
{#    <input type="text"#}
{#           id="nacionalidad"#}
{#           placeholder="Escribe tu nacionalidad"#}
{#           class="form-control">#}
{#</div>#}
{#<div class="form-group">#}
{#    <label for="descripcion" class=" form-control-label">Descripción</label>#}
{#    <input#}
{#            type="text"#}
{#            id="descripcion"#}
{#            placeholder="Country name"#}
{#            class="form-control">#}
{#</div>#}
{#<div class="form-actions form-group">#}
{#    <button type="submit" class="btn btn-success btn-sm">#}
{#        Registrar#}
{#    </button>#}
{#</div>#}
{#</form>#}