{% extends 'index2.html' %}

{% block title %}
    {{ accion }} Autores
{% endblock title %}

{% block body %}
    <h1>{{ accion }} Autores</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
{#            {{ autor_form.as_p }}#}
            <label>Nombre:</label>
            <input type="text" name="nombre">
            <label>Apellidos:</label>
            <input type="text" name="apellidos">
            <label>Nacionalidad:</label>
            <input type="text" name="nacionalidad">
            <label>Descripción:</label>
            <input type="text" name="descripcion">
            <button type="submit">{{ accion }}</button>
            <br>
            <div>
                <a href="{% url 'libro:listar_autor' %}">Regresar al Inicio</a>
            </div>
        {% endif %}
    </form>
{% endblock body %}


{#<!doctype html>#}
{#<html lang="es">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Crear Autores</title>#}
{#</head>#}
{#<body>#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {{ autor_form.as_p }}#}
{#        <button type="submit">Crear</button>#}
{#    </form>#}
{#</body>#}
{#</html>#}